@charset "utf-8";
.contents td{
	overflow:auto;
	white-space: pre;
}
.contents .cont_maintask_ui{
	padding: 3em 1em 6em;
}
.contents button{
	width: 100%;
}
.contents button.cont_mainmenu{
	width: 100%;
	height: 200px;
}
@media all and ( max-width: 520px ){
	.contents button.cont_mainmenu{
		height: auto;
	}
}
