<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>HOME - Morizke 2</title>

		<meta name="viewport" content="width=device-width" />

		<!-- jQuery -->
		<script src="../../common/scripts/jquery-2.2.4.min.js" type="text/javascript"></script>

		<!-- common funcs -->
		<script src="../../common/scripts/common_funcs.js" type="text/javascript"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="../../common/bootstrap/css/bootstrap.min.css">
		<script src="../../common/bootstrap/js/bootstrap.min.js"></script>

		<!-- Pickles 2 Style -->
		<link rel="stylesheet" href="../../common/px2style/dist/styles.css" charset="utf-8" />
		<script src="../../common/px2style/dist/scripts.js" charset="utf-8"></script>

		<!-- normalize & FESS -->
		<link rel="stylesheet" href="../../common/styles/contents.css" type="text/css" />

		<!-- Local Resources -->
		<link rel="stylesheet" href="./index_files/style.css" type="text/css" />
		<script src="./index_files/app.js"></script>

		<script type="text/template" id="template-standby">
			<div>
				<p>出力先システムの種類を選択してください。</p>
<% exportMenu.forEach(function (value, key) { %>
<p><button class="px2-btn" data-target-system-name="<%= value.targetSystemName %>"><%= value.label %></button></p>
<% }); %>
			</div>
		</script>
		<script type="text/template" id="template-page-config">
			<div>
				<p>設定を入力して、実行ボタンをクリックしてください。</p>
				<form action="javascript:;" method="post" class="cont-form-execute">
					<input type="hidden" name="target-system-name" value="<%= targetSystemName %>" />
					<p><button class="px2-btn px2-btn--primary">実行する</button></p>
				</form>
				<p><button class="px2-btn cont-btn-cancel">キャンセル</button></p>
			</div>
		</script>
		<script type="text/template" id="template-not-ready">
			<div class="center">
				<p>ウェブプロジェクトの準備ができていないようです。</p>
				<p>Pickles 2 アプリケーションを開いて、セットアップを完了してください。</p>
			</div>
		</script>
	</head>
	<body>
		<div class="container">
			<h1>Project <q class="tpl_name">...</q></h1>
		</div>
		<div class="container">
			<div class="contents">
				<div class="cont_maintask_ui"></div>
				<p><button class="px2-btn" onclick="px.deselectProject(); px.subapp(); return false;">ダッシュボードへ戻る</button></p>
				<hr />
				<address class="center">---</address>

			</div>
		</div>
	</body>
</html>
