@charset "utf-8";

.cont_results{
    margin: 1em auto;
}
.cont_results > ul{
    padding: 0;
}
.cont_results > ul > li{
    padding: 0.6em 1em;
    border: 1px solid #bbb;
    background: #f9f9f9;
    list-style-type: none;
    margin: 1em;
}
