.contents .cont_filelist_sitemap {
  overflow: auto;
  margin: 10px 0 0 0; }
  .contents .cont_filelist_sitemap__ext-list {
    border: none;
    display: block; }
    .contents .cont_filelist_sitemap__ext-list li {
      display: inline-block;
      border: none;
      padding: 1px 2px; }
      .contents .cont_filelist_sitemap__ext-list li button {
        font-size: small;
        padding: 0.2em 1em; }
