@charset "utf-8";
.contents{
	.cont_filelist_sitemap{
		overflow: auto;
		margin: 10px 0 0 0;

		&__ext-list{
			border: none;
			display: block;
			li{
				display: inline-block;
				border: none;
				padding: 1px 2px;
				button{
					font-size: small;
					padding: 0.2em 1em;
				}
			}
		}
	}
}
